@font-face {
    font-family: "Roboto";
    src: url('../Roboto/Roboto-Regular.ttf');
}
*{
    font-family: "Roboto";
}
/*strt nav*/
.nav{
    background-color: antiquewhite;
}

.nav_list{
    margin-right: 100px;

}
.cart_noti{
    position: relative;
    top: -20px;
    right: 5px;
    font-size: 15px;
    background-color: red;
    color: black;
    border: 1px solid red;
    border-radius: 5px;
    padding: 1px;
}
/*end nav*/
/*start sub nav*/
.sub_nav{
    background-color: azure;

}
/*end sub nav*/

/*sart products*/
.products{
}

/*start carousel*/
.shop_sale_btn{
    border: 1px solid rgb(58, 58, 111);
    border-radius: 50px;
    padding: 10px 20px;
    background-color: rgb(58, 58, 111);
    color: white;
}
.carousel_img{
    height: 600px;
}
.carousel_text{
    top: 35%;
    left: 20%;
}
.carousel_text h1{
    color: black;
    font-size: 60px;
    font-weight: bold;
}
.carousel_text p{
    color: red;
    font-size: 20px;
    font-weight: bold;
    margin-left: 100px;
}
.carousel_text a{
    margin-left: 300px;
    font-size: 20px;
    color: red;
}
.carousel_text :hover{
    color: black;
}
.btn_search{
    margin-left: 150px;
    background-color: rgb(58, 58, 111);
    color: white;

}
/*end carousel*/
/*start sale*/
.course_img_hover:hover{
    transform: scale(1.1);
    transition-duration: .7s;
}
.course_img_hidden{
    overflow: hidden;
}
.sale{
    color: grey;
}
/*end sale*/
/*start shop btn*/
.shop_btn{
    border: 1px solid darkcyan;
    border-radius: 50px;
    padding: 10px;
    background-color: rgb(58, 58, 111);
    color: white;
}
/*end shop btn*/
/*start labor sale*/
.labor_btn{
    border: 1px solid darkcyan;
    border-radius: 50px;
    padding: 10px;
    background-color: rgb(58, 58, 111);
    color: white;
}
.labor{
    background-color: bisque;
    padding: 20px;
}
.labor h3{
    padding-top: 30px;
    padding-left: 85px;
}
.labor_sale{
    border: 1px solid brown;
    border-radius: 10px;
    padding: 80px;
    background-color: brown;
}
.labor_sale:hover{
    transform: scale(1.1);
    transition-duration: .7s;
}
.labor_sale_hidden{
    overflow: hidden;
}
/*end labor sale*/

/*start features pick*/
.btn_pick{
    margin-top: 10px;
    margin-left: 10px;
    border: 1px solid rgb(58, 58, 111) ;
    border-radius: 50px;
    padding: 5px 15px;
    color: white;
    background-color: rgb(58, 58, 111);
    color: white;
}
.pick_span{
    text-decoration: line-through;
    color: gray;
}
.ship_btn{
    margin-left: 120px;
    border: 1px solid gray;
    border-radius: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: rgb(58, 58, 111);
    color: white;
}
/*end features pick*/
/*start want shop*/
.want_shop{
    background-color: bisque;
    padding: 20px;
}
.want_shop h3{
    text-align: center;
}
.img{
    width: 100%;
    height: 50%;
}
.img_rug{
    width: 100%;
    height: 20%;
}
.want_shop_text p:hover{
    color: gray;
}
/*end want shop*/
/*start brand*/
.home_brand{
    padding: 30px 20px;
}
/*end brand*/
/* start follow us*/
.home_follow{
    background-color: bisque;
    padding: 50px
}
/* footer */
.footer_logo{
    width: 35%;
}







.slick-slide img {
    width: 100%;
}
.slick-slider
{
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
            user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;
    display: block;
}
.slick-track:before,
.slick-track:after
{
    display: table;
    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;
    height: auto;
    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}


/*new collection*/
.new_img{
    height: 500px;
}
/* end new collection*/
/*start modern new*/
.moden_img{
    height: 400px;
}
.moden_img:hover{
    transform: scale(1.1);
    transition-duration: .7s;
}
.moden_img_hidden{
    overflow: hidden;
}
/*start sort img*/
.sort_img{
    height: 300px;
}
.sort_btn{
    position: relative;
    top: -300px;
    background-color: red;
    background-color: rgb(58, 58, 111);
    color: white;
}
.price_btn{
    position: relative;
    top: -300px;
    background-color: red;
    background-color: rgb(58, 58, 111);
    color: white;
}
/*end sort img*/
/*start pagination*/
.pag_divided{
    width: 120px;
    position: relative;
    left: 600px;
}






/*plugin1*/
.owl-item {width: 128.906px; margin-right: 10px; background:powderblue; }


/** to hide dots

.owl-theme .owl-dots .owl-dot{ display:none!important;}

**/

/*start furniture*/
/*start furniture img*/
.furniture_img{
    background-color: aliceblue;
}

/*start popular*/
.popular{
    background-color: aliceblue;

}
.popular_btn{
    border: 1px solid gray;
    border-radius: 50px;
    padding: 10px 20px;
    margin-bottom: 80px;
    background-color: rgb(58, 58, 111);
    color: white;
}
/*end popular*/
/*start range*/
.range_img:hover{
    transform: scale(1.1);
    transition-duration: .7s;
}
.range_img_hidden{
    overflow: hidden;
}
/*end range*/
/*start category*/
.category_btn{
    border: 1px solid gray;
    border-radius: 50px;
    padding: 10px;
    width: 100%;
    background-color: rgb(58, 58, 111);
    color: white;
}
.category_btn:hover{
    background-color: gray;
}
.popular_category{
    padding: 0% 15% 0% 15%;
}
/*end category*/
/*start brand*/
.brand_img{
    border: 10px solid gray;
}
.brand_img:hover{
    transform: scale(1.1);
    transition-duration: .7s;
}
.brand_img_hidden{
    overflow: hidden;
}
/*end brand*/
/*start features products*/
.features_product{
    background-color: aliceblue;
}
.popular_img{
    border: 3px solid gainsboro;
}
/*end features products*/
/*start features brand*/
.features_btn{
    border: 1px solid gray;
    border-radius: 50px;
    padding: 15px 30px;
    background-color: rgb(58, 58, 111);
    color: white;
}
/*end features brand*/
/* start store*/
.store_img{
    height: 500px;
}
.store_text{
    top: 10%;
    left: 50%;
}
/*end store*/
/*start help*/
.help_img{
    height: 500px;
    border: 5px solid gray;

}
.help_btn{
    border: 1px solid gray;
    border-radius: 50px;
    padding: 15px 30px;
    background-color: rgb(58, 58, 111);
    color: white;
}
/*end help*/
/*end furniture */
/*start faq*/
.faq_btn{
    border: 1px solid gray;
    border-radius: 50px;
    padding: 10px 20px;
}
.sofa_faqs{
    margin-left: 200px;
}
/*end faq*/
.apply{
    background-color: aliceblue;
    
    padding: 30px;
    margin: 50px;
}
.cart_text{
   margin: 50px;
   padding: 50px;
}
.sofa_btn{
    border: 1px solid gray;
    border-radius: 10px;
    padding: 10px;
    background-color: rgb(58, 58, 111);
    color: white;
}