*{
    padding: 0%;
    margin: 0%;
}
.nav{
    background-color: black;
}
.nav-logo{
    width: 100px;
    height: 100px;
    margin-top: 10px;
    margin-left: 200px;
}
.nav-item{
    float: right;
}
.nav-item li{
    display: inline-block;
    margin-top: 50px;
    margin-right: 50px;
}
.nav-item li a{
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: white;
}
.nav-item-name:hover{
    color: rgb(61, 128, 173);
    font-weight: bold;
    font-size: 20px;
}
.search-nav-item{
    margin-right: 5px;
}
.cart-nav-item{
    margin-right: 80px;
}
.cart-noti{
    position: relative;
    top: -20px;
    right: 80px;
    font-size: 15px;
    background-color: red;
    color: white;
    border: 1px solid red;
    border-radius: 50%;
    padding: 5px;
}
/*end nav*/
/*start explore*/
.explore-title{
    margin-top: 30px;
    margin-left: 200px;
    font-size: 30px;
}
.divided{
    border: 3px solid black;
    border-radius: 2px;
    width: 200px;
    margin-left: 200px;
}
.explore{
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin: 20px 200px;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}
.explore-img{
    width: 100%;
    height: 100%;
    padding: 1px;
}
.explore-img:hover{
    opacity: .6;
}
.explore-products{
    border: 1px solid black;
    border-radius: 5px;
    padding: -50px;
    position: relative;
}
.explore-products-text{
    padding-left: 20px;
    padding-bottom: 10px;
    font-weight: bold;
    display: inline-block;
}
.whist-list{
    float: right;
    padding-right: 20px;
}
.new-explore-icon{
    position: absolute;
    top: 7%;
    right: 3%;
}
.new-explore-icon a{
    border: 1px solid black;
    background-color: gray;
    color: black;
    padding: 5px;
    border-radius: 5px;
}
.new-explore-icon a:hover{
    background-color: aqua;
    color: red;
}
.explore-img{
    transform: scale(1.4);
    transition-duration: 1s;
}
.image-hover{
    overflow: hidden;
    display: inline-block;
}
.explore-img-one{
    width: 100%;
    height: 100%;
    padding: 1px;
    margin: 20px 30px;
    transform: scale(1.4);
    transition-duration: 1s;
}
.explore-img-one:hover{
    opacity: .6;
}
.explore-img-two{
    width: 100%;
    height: 100%;
    padding: 1px;
    margin: 20px 10px;
    transform: scale(1.4);
    transition-duration: 1s;
}
.explore-img-two:hover{
    opacity: .6;
}
/*end explore*/
.divided-one{
    width: 80%;
    border: 1px solid gray;
    opacity: .6;
    margin-left: 150px;
    margin-right: 20px;
}
/*start footer*/
.nrf-footer{
    background-color: black;
    margin-top: 40px;
    color: white;
    padding: 50px;
}
.nrf-footer-title{
    padding-top: 50px;
    padding-left: 650px;
    font-size: 20px;
}
.nrf-footer-divisor{
    width: 120px;
    border: 2px solid green;
    border-radius: 2px;
    margin-left: 650px;
}
.nrf-footer-item{
    float: right;
    margin-top: 70px;
}
.nrf-footer-item a{
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: white;
    margin-left: 100px;
    margin-right: 50px;
    padding: 5px;
}
.nrf-footer-item a:hover{
    color: green;
}
.nrf-footer-icon{
    margin-top: 150px;
    margin-left: 600px;
}
.nrf-footer-icon a{
    font-size: 20px;
    font-weight: bold;
    color: white;
}
.nrf-footer-div{
    width: 85%;
    border: 1px solid white;
    margin-top: 50px;
    margin-left: 120px;
}
.nrf-footer-end{
    margin-left: 120px;
    margin-top: 5px;
}
.nrf-footer-end a{
    text-decoration: none;
    float: right;
    margin-right: 70px;
    color: white;
}
/*end footer*/
/*start apparel*/
.apparel-title{
    margin-top: 50px;
    margin-left: 200px;
    font-size: 25px;
    color: black;
}
.apparel-item{
    margin-top: 50px;
    margin-left: 200px;
}
.apparel-item a{
    text-decoration: none;
    border: 2px solid gray;
    border-radius: 5px;
    margin: 10px 10px;
    padding: 10px;
    color: black;
    opacity: .8;
    font-weight: bold;
}
/*start apparel man*/
.apparel{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-column-gap: 30px;
    grid-row-gap: 20px;
    margin: 20px 200px;
}
.apparel-man{
    border: 2px solid black;
    border-radius: 5px;
    position: relative;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}
.apparel-man-img{
    width: 100%;
}
.apparel-man-icon{
    position: absolute;
    top: 5%;
    left: 80%;
    border: 1px solid white;
    background-color: white;
    color: grey;
    padding: 10px;
    border-radius: 5px;
}
.apparel-man-icon:hover{
    opacity: .6;
    background-color: gray;
    color: black;
}
.apparel-man-img:hover{
    opacity: .6;
}
/*end appareal man*/
/*start apperal text*/

.apparel-text-item{
    display: inline-block;
}
.text-one{
    font-size: 20px;
    color: black;
    opacity: .9;
}
.text-two{
    opacity: .5;
}
.text-three{
    margin-left: 50px;
    font-size: 20px;
    color: black;
    opacity: .9;
}
/*end apperal text*/
.apparel-man-img-one{
    width: 100%;
    height: 100%;
}
/*btn*/
.btn{
    width: 150px;
    margin-top: 10px;
    margin-left: 700px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    opacity: .6;
}
/*end apparel*/

/*start support nav*/
.nav-support{
    width: 100%;
    height: 100%;
    background-color: black;
    padding: 10px;
}
.support-nav-item{
    margin-left: 200px;
    font-size: 20px;
    color: white;

}
.support-nav-btn{
    float: right;
    margin-right: 300px;
    border: 1px solid black;
    border-radius: 5px;
    margin-top: 10px;
    width: 200px;
    height: 50px;
}
.support-nav-btn a{
    text-decoration: none;
    color: black;
    font-size: 15px;
}
.support-nav-btn:hover{
    opacity: .3;
}
.support-nav-btn a:hover{
    color: white;
    font-size: 20px;

}
.support-nav-icon{
    float: right;
    color: white;
    margin-top: 15px;
    padding-right: 20px;
}
.support-nav-text{
    margin-top: 30px;
    margin-left: 200px;
    color: white;
    padding-bottom: 10px;
}
.support-nav-text a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}
.support-nav-text a:hover{
    opacity: .3;
}
/*end support nav*/
/*start support body*/
.submit-title{
    margin-top: 20px;
    margin-left: 200px;
}
.submit-item{
    margin-top: 20px;
    margin-left: 200px;
}
.submit-item form div{
    margin-top: 15px;
}
.submit-form-one label{
    font-size: 20px;
    margin-top: 20px;
}
.submit-form-one input{
    width: 500px;
    height: 30px;
    border: 2px solid gray;
    border-radius: 5px;
    margin-top: 10px;
}
.submit-form-one textarea{
    border: 2px solid gray;
    border-radius: 5px;
    margin-top: 10px;
}
.submit-form-one select{
    width: 500px;
    height: 30px;
    border: 2px solid gray;
    border-radius: 5px;
    margin-top: 10px;
}
.submit-btn{
    margin-top: 20px;
    width: 170px;
    height: 35px;
    border: 2px solid gray;
    border-radius: 5px;
    background-color: black;
    color: white;
    font-size: 15px;
}
/*end support body*/
/*start support grid*/
.support-grid{
    background-color: whitesmoke;
}
.support{
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 200px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 20px;
    padding: 50px;
}
.support div h3{
    font-size: 30px;
}
.support h5{
    font-size: 20px;
}
.support div p{
    margin-top: 20px;
}
.support div button{
    width: 170px;
    height: 35px;
    margin-top: 20px;
    border: 1px solid gray;
    color: black;
}
.support-item{
    border: 1px solid gray;
    padding: 10px 20px 20px 30px;
}
.support-item-one{
    border: 1px solid gray;
    padding: 10px 20px 20px 20px;
    margin-right: 50px;
}
/*end support grid*/
/*start support footer*/
.footer{
    background-color: black;

}
.support-footer{
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 200px;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-column-gap: 30px;
    padding: 50px;
}
.support-footer-item{
    margin-bottom: 20px;
    color: white;
}
.support-footer-icon{
    display: block;
    text-decoration: none;
    color: white;
    margin-top: 10px;
}
.support-footer-icon:hover{
    text-decoration: underline;
}
.support-footer div p{
    font-size: 30px;
    color: white;
}
.support-footer div h5{
    color: white;
    font-size: 20px;
}

/*end support footer*/
/*starthomeware*/
.pillow-text-item{
    display: inline-block;
}
.pillow-text-one{
    font-size: 20px;
    color: black;
    opacity: .9;
}
.pillow-text-two{
    opacity: .6;
}
.pillow-text-three{
    margin-left: 20px;
    font-size: 20px;
}
/*end homeware*/
